<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav>
    <span><a href="/" title="homepage">主页</a></span>
    <span><a href="/login" title="login">登录</a></span>
    <span><a href="/reg" title="regist">注册</a></span>
</nav>
<article>
opss......页面出错了
</article>
</body>
</html>