<br>
<div>
    <% if (!isFirstPage) { %>
        <span class="prepage"> <a href="?p=<%= page-1 %>" title="prev">prev</a></span>
    <% } %>
    <% if (!isLastPage) { %>
        <span class="nextpage"> <a href="?p=<%= page+1 %>" title="next">next</a></span>
    <% } %>
</div>