<%- include header %>
<form method="post">
    <h1>headline</h1>
    <input type="text" name="title">
    <br>
    <h2>标签</h2>
    <input type="text" name="tag1">
    <input type="text" name="tag2">
    <input type="text" name="tag3">
    <br>
    <h2>article</h2>
    <textarea name="post" cols="100" rows="20"></textarea>
    <br>
    <input type="submit" value="发表" />
</form>
<%- include footer %>