html {
    height: 100%
}

body, img, svg {
    height: 100%;
    width: 100%
}

img {
    vertical-align: middle
}

.app {
    height: 100%
}

@-webkit-keyframes showAlert {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes showAlert {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes hideAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes hideAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

.bounce-in {
    -webkit-animation: showAlert .3s;
    animation: showAlert .3s
}

.bounce-out {
    -webkit-animation: hideAlert .3s;
    animation: hideAlert .3s
}



* {margin:0; padding:0; -webkit-tap-highlight-color: transparent; box-sizing: inherit}
html {
    box-sizing: border-box;
    background-color:#f5f5f5;
    color:#333;
    font-family: 'Helvetica Neue', Tahoma,Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    line-height:1.2;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    height:100%;
}
body {
    background-color: red;
    height:100%;
}
ul, li {
    list-style: none;
}

.hide {
    display: none !important;
}

.app {
    height:100%;
}
.home {
    min-height:100%;
    background:  #fd3c28 url(image/bodyBg.png) ;
    background-size:26.4vw 26.4vw;
    display:flex;
    flex-direction: column;
}
.home-wrap {
    height: 100%;
}
.home > .tip {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index:9999;
    background-color:rgba(0,0,0,0.8);
    display:flex;
    align-items: center;
    justify-content: center;
}
.tip .content {
    position: relative;
    flex-direction: column;
    width:85.33vw;
}
.tip .content .close {
    width:9.33vw;
    height:9.33vw;
    position:absolute;
    right: 0;
    top: -12vw;
}
.tip .content .close svg {
    width:100%;
    height:100%;
}
.tip .content .content {
    width:100%;
    height: 80vw;
    background:url(image/fallBg.png) no-repeat;
    background-size: contain;
    position:relative;
}
.tip .content .content .logo {
    position: absolute;
    left:50%;
    transform: translate(-50%, -40%);
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    border: .53vw solid #000;
    border-radius: 1.86vw;
    width:17.3vw;
    overflow: hidden;
    box-sizing: content-box;
}
.tip .content .content .logo img {
    width: 15.73vw;
    height: 15.73vw;
}
.tip .content .content .gift-content {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top:12vw;
}
.gift-content .ka-wrap {
    flex-shink: 0;
    overflow-y: auto;
    height: 64vw;
    display:flex;
    flex-direction: column;
}
.info {
    text-align:center;
    color:#fff9ea;
}
.info h4 {
    font-size:.64rem;
    font-weight: 600;
}
.info .help {
    font-size: .48rem;
}
.info .tip {
    margin-top:2.66vw;
    font-size:.266rem;
    color: #ffc72f;
}
.gifts-wrap {
    flex: 0.13vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gifts-wrap .gifts{}
.gifts-wrap .gifts .gift {
    margin: 5.3vw auto 2.66vw;
    display:flex;
    justify-content: center;
}
.reward {
    min-width:41.33vw;
    height:13.33vw;
    border-radius:6.67vw;
    color:#fff9ea;
    font-weight:500;
    display:flex;
    align-items: center;
    background-color:rgba(0, 0, 0, .1);
    padding: 0 6.6vw 0 4vw;
}
.reward .icon {
    width:13.33vw;
    display:inline-block;
    vertical-align: middle;
}
.reward .name {
    font-size:.45rem;
    display: inline-block;
}
.reward .num {
    fontsize:.32rem;
    margin-left:1.33vw;
    display: inline-block;
}

/* 游戏规则部分 */
.tip .content.rule-content {
    display:flex;
    justify-content: center;
    align-items: center;
}
.tip .content .rule {
    position: relative;
    background: url(image/fallBg_long.png) no-repeat top;
    background-size: 100% 130.66vw;
    width: 100%;
    height: 130.66vw;
    padding-top: 1px; /* 必不可少，如果省略该值，则第一个子元素margin-top会传递；若设置该值，则margin-top不会被传递 */
}
.rule img {
    position:absolute;
    left:50%;
    top:0;
    transform: translate(-50%, -50%);
    width:37.33vw;
    height:10.66vw;
}
.detail-wrap {
    width: 61.33vw;
    height: 106.66vw;
    margin: 13.33vw auto 0;
    color: #fff9ea;
    font-size: .3733rem;
    overflow-y: auto;
}

/* 内容主体 */
header {
    margin-top:2.6vw;
    height:11.73vw
}
.header-wrapper {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:11.73vw;
    color:#fff;
    font-size:.48rem;
}
.header-center {
    width: 45.73vw;
    height: 13.06vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-center img {
    height: 100%;
}

header + .rewards {
    display: flex;
    align-items: center;
    position: relative;
    height: 9.066vw;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: .4266rem;
    margin: 4vw 10.66vw -2.66vw;
}
.rewards .left ,
.rewards .right,
.rewards .icon-wrap {
    display:flex;
    align-items: center;
    justify-content: center;
}
.rewards .icon {
    display:inline-block;
    width: 7.2vw;
    height: 7.2vw;
}
.rewards .amount {
    display: inline-block;
    font-size: .48rem;
    font-weight: 500;
    color:#000;
    margin-left: .8vw;
}
.rewards .redbag {
    margin-left: 4.66vw;
}
.rewards .add-icon {
    position:relative;
    width: 7.2vw;
    height: 7.2vw;
    margin-left: 2vw;
    border-radius: 1.33vw;
    background-color: #2396ff;
    border: .4vw solid #000;
}
.rewards .add-icon:before,
.rewards .add-icon:after {
    content: "";
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: .66vw;
    background-color: #125478;
}
.rewards .add-icon:before {
    width: 1.06vw;
    height: 4.13vw;
}
.rewards .add-icon:after {
    width: 4.13vw;
    height: 1.06vw;
}

/* 主体内容 */
main {
    display:flex;
    justify-content: center;
    position:relative;
    flex:1;
    padding: 17.86vw 2.66vw 0;
    overflow: hidden;
}
main .rule {
    position:absolute;
    top: 5.33vw;
    right: 0;
    z-index: 2;
    width: 13.06vw;
    height: 6.93vw;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    light-height: 6.93vw;
    text-align: center;
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    font-weight: 300;
    font-size: .32rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
main .rule .arrow {
    width: 2.66vw;
    height: 2.66vw;
}
main>.left {
    width: 7.46vw;
    background: red url(image/left.png) top/contain repeat-y;
    position: relative;
    z-index:1;
}
main>.right {
    width: 7.46vw;
    background: red url(image/right.png) top/contain repeat-y;
    position: relative;
}
main .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fccbad;
}
main .smoke {
    position: absolute;
    z-index: 2;
    right: -8vw;
    width: 37.33vw;
    height: 14.66vw;
    top: 44vw;
}
main .light-left,
main .light-right {
    position: absolute;
    z-index: 2;
    width: 12vw;
    height: 20vw;
}
main .light-left {
    top: 21.33vw;
    left: 0;
}
main .light-right {
    right: 0;
    top: 30.66vw;
}
main .tree {
    width:13.6vw;
    height:35.6vw;
    position: fixed;
    left:0;
    top: 52.33vw;
    z-index:2;
}
main .cloud-left {
    position: fixed;
    left: 0;
    z-index: 2;
}
main .cloud-left.top {
    width: 15.2vw;
    height: 12.13vw;
    bottom: 10.66vw;
}
main .cloud-left.bottom {
    width: 34.4vw;
    height: 10.8vw;
    bottom: 0;
}
main .cloud-right {
    position: fixed;
    right: 0;
    z-index: 2;
}
main .cloud-right.top {
    width: 16.66vw;
    height: 17.6vw;
    bottom: 9.733vw;
}
main .cloud-right.bottom {
    width: 54.4vw;
    height: 10vw;
    bottom: 0;
}

.roof {
    position: absolute;
    left: 0;
    right: 0;
    height:20.66vw;
    z-index:1;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.roof.first,
.roof.second {
    background-size: 28.4vw 9.2vw, contain;
    background-position: center 9.33vw, 50%;
}
.roof.first {
    background-image: url(image/roof2Name.png), url(image/roof.png);
    top: 0;
}
.roof.second {
    background-image: url(image/roof1Name.png), url(image/roof.png);
    top: 36vw;
}
main .post {
    flex-shrink: 0;
    width: 79.46vw;
    height: 22.66vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2.66vw;
}
.post .title {
    font-size: .45rem;
    font-weight: 600;
    color: #000;
}
.post .warn {
    color: #e40011;
}
.post .desc-wrap {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #010101;
    font-size: .32rem;
    margin-top: 1.86vw;
}
.post .right {
    margin-left: 1.06vw;
    width: 21.6vw;
    flex-shrink: 0;
}
.btn-big {
    position: relative;
    background-color: #f8b93a;
    border: .4vw solid #b7712a;
    color: #7c450e;
    width: 21.6vw;
    height: 8vw;
    border-radius: 4vw;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0 2.66vw;
}
.btn-big.answer {
    color: #125478;
    background-color: #51acff;
    border: .4vw solid #0b4862;
}
.btn-big img {
    left: 1.33vw;
    bottom: .533vw;
    position: absolute;
    width: 9.46vw;
    height: 9.46vw;
}
.btn-big span {
    display: inline-block;
    font-size:.373rem;
    font-weight: 700;
    color: #033049;
}
.card-wall {
    flex: 1;
    padding-top: 14.66vw;
    width: 79.46vw;
    display: flex;
    flex-direction: column;
}
.card-wall .info {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.66vw 2.66vw 1.33vw;
}
.card-wall .info .left {}
.card-wall .info h4 {
    font-size: .4533rem;
    font-weight: 600;
    color: #000;
}
.card-wall .info p {
    color: #333;
    text-align: left;
    margin-top: 1.6vw;
    font-size: .32rem;
    font-weight: 300;
}

.cards {
    position: relative;
    z-index: 1;
    padding: 2.66vw 2.66vw 13.33vw;
    flex: 1;
    display: flex;
    overflow-y: auto;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cards .card {
    position: relative;
    margin-top: 5.73vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .53vw solid #040000;
}
.cards .card:first-of-type,
.cards .card:nth-of-type(2),
.cards .card:nth-of-type(3) {
    margin-top: 0;
}
.cards .card .pic-wrap {
    width: 20.4vw;
    heihgt: 23.2vw;
    position:relative;
}
.cards .card .tag {
    position: absolute;
    left: .93vw;
    top: 0;
    width: 6.66vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .card .tag .name {
    font-size: .37rem;
    margin-bottom: .53vw;
}
.cards .card .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3.06vw;
    width: 17.86vw;
    height: 6.13vw;
    border-radius: 6.13vw;
    text-align: center;
    z-index: 10;
}
.cards .card.remain .pic-wrap {
    background-color: silver;
    border: .66vw solid #a9a9a9;
}
.cards .card.remain .tag {
    background: url(image/tag.png) no-repeat 50%;
    background-size: 6.66vw 6vw;
}
.cards .card.remain .tag .name {
    color: #666;
}
.cards .card.remain .btn {
    color: #000;
    font-size: .32rem;
    border: .53vw solid #000;
    background-color: #bababa;
}

.cards .card .btn.enable {
    font-size: .37rem;
    background-color: #51acff;
    color: #0a4464;
    border: .53vw solid #0b4862;
}

